gymnasium[atari, accept-rom-license]
stable-baselines3
rtpt
termcolor
torch
numpy
opencv_python
joblib
tensorboard
tqdm
pandas
pyyaml
scikit-image
pygame
sty
# Install manually:
# ocatari
# scobi
# nudge