gymnasium[atari,accept-rom-license]
stable-baselines3
rtpt
termcolor
torch==1.13
numpy
opencv_python
joblib
tensorboard
tqdm
pandas
pyyaml
scikit-image
pygame
sty
# Install manually:
# ocatari
# scobi
# nudge & nsfr